.root{
    -fx-background-color: white;
}
.searchButton{
    -fx-background-image: url("org/example/demo/aset/icons/search icon.jpeg");
}
.split1{
    -fx-background-color: pink;
}
.split2{
    -fx-background-color: grey;
}